body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #333, #4b0082, #800080, #7b68ee, #4682b4);
    margin: 0;
    padding: 0;
    color: white;
}
.qa {
    margin-bottom: 20px;
}
.question {
    font-weight: bold;
}
.answer {
    margin-top: 10px;
}
.error {
    color: rgb(249, 5, 5);
    display: none;
}
#scoreForm {
    margin: 20px;
}
label {
    margin-right: 10px;
}
input {
    padding: 5px;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}